@import "tailwindcss";

html, body {
  height: 100%;
}

@custom-variant catppucin (&:where([data-theme="catppucin"], [data-theme="catppucin"] *));


@font-face {
    font-family: 'Mona Sans';
    src: url('../fonts/MonaItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('../fonts/Mona.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
}

@theme {
    --font-mona: Mona Sans;
    /* Primary */
    --color-brand-primary-light: #F4781A;
    --color-brand-primary: #D1600A;
    --color-brand-primary-dark: #A14A08;

    /* Secondary */
    --color-brand-secondary-light: #FF619B;
    --color-brand-secondary: #FF2F7C;
    --color-brand-secondary-dark: #C70049;

    /* Black */
    --color-black: #131415;
    --color-black-100: #181A1B;
    --color-black-200: #303336;
    --color-black-300: #494D50;
    --color-black-400: #61666B;

    /* White */
    --color-white: #FFFFF3;
    --color-white-100: #E0E0E0;
    --color-white-200: #C7C7C7;
    --color-white-300: #ADADAD;
    --color-white-400: #949494;

    /* Utils */
    /* Yellow */
    --color-utils-yellow-bright: #FFEE56;
    --color-utils-yellow: #F4CC1D;
    --color-utils-yellow-dark: #A08408;
    --color-utils-yellow-light: #F8E27C;
    --color-utils-yellow-lightest: #FBEDAC;

    /* Orange */
    --color-utils-orange-bright: #ED5C02;
    --color-utils-orange: #F84714;
    --color-utils-orange-dark: #A42805;
    --color-utils-orange-light: #FA6F48;
    --color-utils-orange-lightest: #FB9679;
   
    /* Red */
    --color-utils-red-bright: #F7181C;
    --color-utils-red: #E22C2F;
    --color-utils-red-dark: #941416;
    --color-utils-red-light: #E8595B;
    --color-utils-red-lightest: #EF8687;
    
    /* Pink */
    --color-utils-pink-bright: #FF08C2;
    --color-utils-pink: #E929BA;
    --color-utils-pink-dark: #B2158B;
    --color-utils-pink-light: #F99DE2;
    --color-utils-pink-lightest: #FFDAF6;
    
    /* Purple */
    --color-utils-purple-bright: #8B46FF;
    --color-utils-purple: #7C39ED;
    --color-utils-purple-dark: #6B1CB0;
    --color-utils-purple-light: #CDB0FF;
    --color-utils-purple-lightest: #EDE3FE;
    
    /* Blue */
    --color-utils-blue-bright: #2D7FF9;
    --color-utils-blue: #1283DA;
    --color-utils-blue-dark: #2750AE;
    --color-utils-blue-light: #9CC7FF;
    --color-utils-blue-lightest: #CFDFFF;
    
    /* Cyan */
    --color-utils-cyan-bright: #01C5DB;
    --color-utils-cyan: #18F3FF;
    --color-utils-cyan-dark: #0197A8;
    --color-utils-cyan-light: #A9F6FF;
    --color-utils-cyan-lightest: #DBFBFF;
    
    /* Teal */
    --color-utils-teal-bright: #20D9D2;
    --color-utils-teal: #02AAA4;
    --color-utils-teal-dark: #06A09B;
    --color-utils-teal-light: #72DDC3;
    --color-utils-teal-lightest: #C2F5E9;
    
    /* Green */
    --color-utils-green-bright: #20C933;
    --color-utils-green: #11AF22;
    --color-utils-green-dark: #338A17;
    --color-utils-green-light: #93E088;
    --color-utils-green-lightest: #D1F7C4;
    
    --spacing-none: 0;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-2xl: 128px;
    --spacing-3xl: 512px;
}

@layer base {
    [data-theme="Catppucin"] {
        --color-brand-primary: #fab387;
        --color-brand-secondary: #cba6f7;
        --color-black: #1e1e2e;
        --color-black-100: #313244;
        --color-black-200: #45475a;
        --color-black-300: #585b70;
        --color-black-400: #6c7086;
        --color-white: #cdd6f4;
        --color-white-100: #bac2de;
        --color-white-200: #a6adc8;
        --color-white-300: #9399b2;
        --color-white-400: #949494;
    }
}

:root[data-theme="Catpputin"] {
    --color-brand-primary: #fab387;
    --color-brand-secondary: #cba6f7;
    --color-black: #1e1e2e;
    --color-black-100: #313244;
    --color-black-200: #45475a;
    --color-black-300: #585b70;
    --color-black-400: #6c7086;
    --color-white: #cdd6f4;
    --color-white-100: #bac2de;
    --color-white-200: #a6adc8;
    --color-white-300: #9399b2;
    --color-white-400: #949494;
}

.ce-inline-tool {
    background: var(--color-black);
}

.ce-popover__container {
    --color-border: var(--color-black-200);
    --color-text-primary: var(--color-white);
    --color-text-secondary: var(--color-white-400);
    --color-background: var(--color-black)
}

.ce-popover__container>.ce-popover__items>button:hover {
    background-color: var(--color-black-200);
}

.ce-popover-item-html>button:hover {
    background-color: var(--color-black-200)
}

.ce-toolbar__actions>.ce-toolbar__plus {
    color: var(--color-white);
}

.ce-toolbar__actions>.ce-toolbar__plus:hover {
    background-color: var(--color-black-200);
}

.ce-toolbar__actions>.ce-toolbar__settings-btn {
    color: var(--color-white);
}

.ce-toolbar__actions>.ce-toolbar__settings-btn:hover {
    background-color: var(--color-black-200);
}

.ce-popover__container>.cdx-search-field {
    background-color: var(--color-black-100)
}

.ce-popover__items>.ce-popover-item:hover {
    background-color: var(--color-black-200)
}

.ct>.ct__content {
    background-color: var(--color-black-100);
    border-radius: 5px;
}


.ce-block--selected .ce-block__content {
    background: var(--color-black-200);
}

::selection {
    background-color: var(--color-black-200);
}

.ce-paragraph::selection {
    background-color: var(--color-black-200);
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-black-200);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-black-300);
}

.ce-block__content > div{
    overflow-wrap: break-word !important;
}

/* Styling for H1 elements */
h1, h1.ce-header {
    @apply text-5xl font-extrabold; /* Example Tailwind classes */
    /* You can customize these to match your design system */
}

/* Styling for H2 elements */
h2, h2.ce-header{
    @apply text-4xl font-bold; /* Example Tailwind classes */
}

/* Styling for H3 elements */
h3, h3.ce-header{
    @apply text-3xl font-semibold;
}

/* Styling for H4 elements */
h4, h4.ce-header {
    @apply text-2xl font-medium;
}

/* Styling for H5 elements */
h5, h5.ce-header{
    @apply text-xl font-medium;
}

/* Styling for H6 elements */
h6, h6.ce-header {
    @apply text-lg font-medium;
}

.ce-popover {
    --color-text-icon-active: var(--color-brand-primary)
}

.ce-inline-toolbar {
    --color-background-icon-active: color-mix(in srgb, var(--color-brand-primary-dark) 20%, transparent);
}

.ce-popover-item-html > input {
    background-color: var(--color-black-100);
}

/* 2. Target the inner redactor area and remove its max-width */


/* 4. Define a readable max-width for the content itself and center it */
.ce-block__content {
    max-width: 60%; 
}

.ce-toolbar__content {
    max-width: 60%;
}

.ce-paragraph > a {
    color: var(--color-brand-primary)
}